extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
			for submission in submissions
				li
					.applicants-container
						a.btn.btn-default.btn-xs.btn-info(href="#" role="button") Delete
						h4.applicant #{submission.name}