extends layout

block content
	h2 Your application has been successfully received!

	p You application has been forwarded to our human resources team to be ignored. If your qualifications match our needs, you may be contacted in 1 to 3 years for an interview.
	p We keep you application round-filed so that it can be ignored at a later date for any other open position we have no intention of hiring you for. For this reason, please don't contact us again... ever...