doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title The Cat Video Contest
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/style.css")

	body
		block content

		link(rel="text/javascript", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		